body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f2f4f8;
}

header{
  background:#1e40af;
  color:#fff;
  padding:20px;
  text-align:center;
}

.container{
  padding:20px;
}

.program-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
}

.card{
  background:#fff;
  border-radius:14px;
  padding:22px;
  text-align:center;
  text-decoration:none;
  color:#000;
  box-shadow:0 6px 15px rgba(0,0,0,0.1);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.card h2{
  margin:0;
  color:#1e40af;
}

.card p{
  margin:6px 0 0;
  font-size:14px;
  color:#555;
}

@media(min-width:768px){
  .program-grid{
    grid-template-columns:repeat(3,1fr);
  }
}
.subject-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
  margin-top:20px;
}

.subject-card{
  background:#ffffff;
  border-radius:12px;
  padding:16px;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

.subject-card h4{
  margin:0;
  color:#1e40af;
  font-size:16px;
}

.subject-card p{
  margin:6px 0 10px;
  font-size:13px;
  color:#555;
}

.subject-card a{
  display:inline-block;
  padding:6px 10px;
  background:#1e40af;
  color:#fff;
  text-decoration:none;
  border-radius:6px;
  font-size:13px;
}

@media(min-width:768px){
  .subject-grid{
    grid-template-columns:repeat(3,1fr);
  }
}
.unlock-btn{
  display:inline-block;
  padding:7px 12px;
  background:#25D366;
  color:#fff;
  text-decoration:none;
  border-radius:6px;
  font-size:13px;
  font-weight:600;
}
